.text-wrapper-1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Times New Roman-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 39.8px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  
  .text-wrapper-2 {
    left: 71px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: -1px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.text-wrapper-3 {
    left: 163px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: -1px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.text-wrapper-4 {
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #673E66;
    position: absolute;
    top: -1px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.text-wrapper-5 {
    left: 251px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: -1px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
.text-wrapper-6 {
    left: 322px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: -1px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.text-wrapper-7 {
    position: absolute;
    top: -1px;
    left: 387px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.text-1 {
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} 

.text-2 {
  color: #2F333C;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.2%; /* 35.904px */
}

.text-3 {
  color: #2F333C;
  font-family: "DM Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.2%;
}

.text-4 {
  color: rgba(62, 71, 79, 0.82);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-5 {
  color: #F7931A;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-6 {
  color: #000;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -58px;
}

.text-7 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -123px;
  margin-left: -120px;
}

.text-8 {
  color: #2F333C;
  font-family: "DM Sans";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-9 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-10 {
  color: rgba(255, 255, 255, 0.90);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-11 {
  width: 424px;
  height: 70px;
  flex-shrink: 0;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-12 {
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-13 {
  font-family: "DM Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #DD5151 0%, #175E9F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-14 {
  width: 711px;
  margin-top: 39.27px;
  margin-left: 45vh;
  color: rgba(0, 0, 0, 0.76);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-15 {
  color: #545454;
  font-family: "DM Sans";
  font-size: 29.949px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-16 {
  color: #2F333C;
  font-family: "DM Sans";
  font-size: 19.966px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-17 {
  color: #3E474F;
  font-family: "DM Sans";
  font-size: 19.966px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-18 {
  color: #000;
  font-family: "DM Sans";
  font-size: 21.78px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-19 {
  font-family: "DM Sans";
  font-size: 87.119px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #175E9F 0%, rgba(127, 87, 241, 0.74) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-20 {
  color: #474747;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-21 {
  width: 412px;
  margin-top: 31px;
  color: #373A3D;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-22 {
  display: flex;
  width: 209px;
  height: 53px;
  margin-top: 31px;
  padding: 17px 8px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  flex-shrink: 0;
}

.text-23 {
  width: 400px;
  margin-top: 31px;
  color: #373A3D;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-24 {
  color: #FFF;
  font-family: "DM Sans";
  margin-top: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-25 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0;
  margin-bottom: 52px;
}

.username {
  width: 82px;
  margin-top: 30px;
  margin-left: 25px;
  color: #000;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 105.2%; /* 25.248px */
}

.date {
  color: rgba(0, 0, 0, 0.52);
  margin-left: 25px;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.2%; /* 14.728px */
}

.comment-1 {
  color: #ACABAB;
  width: 197px;
  margin-top: 48px;
  margin-left: 49px;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 105.2%; /* 16.832px */
}

.tet11 {
  margin-left: 79px;

}

.text-26 {
  font-family: "DM Sans";
  font-size: 123.952px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(142deg, rgba(136, 102, 180, 0.74) 26.92%, rgba(8, 95, 148, 0.74) 60.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 274px;
}

.text-27 {
  color: rgba(0, 0, 0, 0.83);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 451px;
  height: 115px;
  flex-shrink: 0;
}

.text-28 {
  width: 362px;
  height: 61px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.83);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-29 {
  color: #FFF;
  font-family: "DM Sans";
  margin-top: 52px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-30 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-31 {
  margin-top: 57px;
  color: #FFF;
  font-family: "Times New Roman";
  font-size: 69.189px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15%;
}

.text-32 {
  color: #FFF;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 8.124px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -64px;
  margin-left: 55px;
}

.text-33 {
  color: #FFF;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 8.124px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -56px;
  margin-left: 60px;
}

.text-34 {
  width: 121px;
  height: 21px;
  margin-top: 84px;
  margin-left: 15%;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-35 {
  width: 329px;
  height: 63px;
  margin-top: 4px;
  margin-left: 15%;
  color: rgba(255, 255, 255, 0.53);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-36 {
  margin-top: 105px;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-37 {
  width: 93px;
  height: 106px;
  margin-top: 9px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.53);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-38 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.text-39 {
  color: rgba(255, 255, 255, 0.53);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-40 {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
}

.text-41 {
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 65px;
}