* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
  width: 100%;
  height: 3350px;
}
  
.group-1 {
    width: 102px;
    height: 46px;
    margin-left: 20%;
    margin-top: 6vh;
    margin-bottom: 3vh;
  }
  
.overlap-group-1 {
    position: relative;
    width: 98px;
    height: 46px;
  }
  
.zero-gravity-3 {
    position: absolute;
    top: 19px;
    left: 66px;
    font-family: "Times New Roman-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 4.7px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
.navbar {
    position: absolute;
    width: 469px;
    height: 22px;
    top: 8vh;
    left: 35%;
    bottom: 5vh;
  }

main {
    width: 100%;
    height: 2990px;
}

.img-1 {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  background-image: url(../images/hero-bg.png);
  background-position: center center;
  background-size: cover;
}

.container-1 {
  width: 100%;
  height: 500px;
}

.container-2 {
  margin-left: 15%;
  margin-top: 102px;
}

.container-3 {
  width: 32px;
  height: 32px;
  color: #f7931a;
}

.hr-1 {
  width: 2px;
  height: 161px;
  background-color: #f7931a;
  margin-left: 4px;
  margin-top: -3px;
}

.container-4 {
  width: 373px;
  height: 90.69px;
  flex-shrink: 0;
  background: #F2F1EF;
  position: absolute;
  margin-top: -91px;
  margin-left: 8px;
}

.container-5 {
  margin-top: -42px;
  margin-left: 80%;
} 

.container-6 {
  margin-top: 84px;
  margin-left: 10%;
  text-decoration: none;
}

.container-7 {
  width: 355.243px;
  height: 134.53px;
  margin-top: 31px;
}

.container-8 {
  margin-top: 108px;
  background-color: #d6f0ff;
}

.container-9 {
  margin-top: 240px;
  background-color: #fff;
}

.container-10 {
  width: 398.02px;
  height: 5px;
  background: #545454;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.my-scrollbar::-webkit-scrollbar {
  height: 5px;
}
.my-scrollbar::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border-radius: 5px;
}
.my-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d4d4d4;
  border-radius: 10px;
}
.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--bs-primary);
}

.topbar {
  margin-top: 150px;
}

footer {
  width: 99%;
  height: 449px;
  margin-top: 10px;
  flex-shrink: 0;
  padding: 0;
  background-color: #2f333c;
  position: absolute;
}
 .medialogo {
  margin-left: 47%;
  margin-right: 25%;
 }