* {
    box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 4230px;
}
  
.group-1 {
    width: 102px;
    height: 46px;
    margin-left: 20%;
    margin-top: 6vh;
    margin-bottom: 3vh;
  }
  
.overlap-group-1 {
    position: relative;
    width: 98px;
    height: 46px;
  }
  
.zero-gravity-3 {
    position: absolute;
    top: 19px;
    left: 66px;
    font-family: "Times New Roman-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 4.7px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
.navbar {
    position: absolute;
    width: 469px;
    height: 22px;
    top: 8vh;
    left: 35%;
    bottom: 5vh;
  }

main {
    width: 100%;
    min-height: 3819px;
}

  .img-1 {
    width: 100%;
    height: 288px;
    background-image: url(../images/hero-bg.png);
    box-shadow: 0px 22px 56px 0px rgba(0, 0, 0, 0.25) inset;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
  }

  .container-1 {
    margin-top: -204px;
  }

  .container-2 {
    margin-top: 188px;
  }

  .svg-1 {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

.container-3 {
    width: 864px;
    margin-left: 52px;
}

.hr1 {
    width: 3px;
    height: 2614px;
    background-color: #3e474f;
    margin-top: -2892px;
    margin-left: 15px;
    position: relative;
}

.container-4 {
    width: 467px;
    height: 124px;
    flex-shrink: 0;
    background-color: #f15656;
    margin-top: 144px;
    margin-left: 16px;
}

.container-5 {
    width: 238px;
    height: 297px;
    flex-shrink: 0;
    border: 6px solid #F4F4F4;
    background: url(../images/first-idea-people.png), lightgray 0px 0px / 320.168% 100% no-repeat;
    box-shadow: 12px 13px 3px 0px rgba(62, 71, 79, 0.56);
    margin-left: 91px;
    margin-top: 110px;
}

.container-6 {
    width: 237px;
    height: 297px;
    margin-top: 110px;
    flex-shrink: 0;
    border: 6px solid #F4F4F4;
    background: url(../images/second-idea-people.png), lightgray -262px 0px / 321.519% 100% no-repeat;
    box-shadow: 12px 13px 3px 0px rgba(62, 71, 79, 0.56);
} 

.container-7 {
    width: 239px;
    height: 297px;
    margin-top: 110px;
    flex-shrink: 0;
    border: 6px solid #F4F4F4;
    background: url(../images/third-idea-people.png), lightgray -523px 0px / 318.828% 100% no-repeat;
    box-shadow: 12px 13px 3px 0px rgba(62, 71, 79, 0.56);
}

.container-8 {
    margin-top: 28px;
    margin-left: 111px;
}

.container-9 {
    width: 699px;
    color: rgba(0, 0, 0, 0.79);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
    margin-left: 200px;
}

.container-10 {
    width: 440px;
    height: 90px;
    flex-shrink: 0;
    background-color: #d565b3;
    margin-top: 159px;
    margin-left: 16px;
}

.container-11 {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 352px;
}

.container-13 {
    margin-top: 53px;
    margin-left: 156px;
    color: rgba(0, 0, 0, 0.79);
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 793px;
    height: 61px;
}

.container-14 {
    width: 440px;
    height: 90px;
    flex-shrink: 0;
    background-color: #f7931a;
    margin-top: 159px;
    margin-left: 16px;
}

.container-15 {
    width: 242px;
    height: 108px;
    margin-left: 65px;
    margin-top: 164px;
}

.container-16 {
    width: 258px;
    margin-left: 26px;
    margin-top: 124px;
}

.cont-1 {
    width: 258px;
    height: 144px;
    margin-left: 25px;
    margin-top: 164px;
}

.hr2 {
    width: 976.012px;
    height: 3px;
    margin-left: 15px;
    background-color: #3e474f;
    position: relative;
}

.svg-6 {
    margin-top: -168px;
    margin-left: 29px;
}

.container-18 {
    margin-left: 100px;
}

.container-19 {
    margin-left: -10px;
    margin-bottom: -4px;
}

.container-20 {
    width: 3px;
    height: 92.049px;
    background-color: #3e474f;
}

.container-22 {
    margin-left: 185px;
}

.container-21 {
    margin-left: -10px;
    margin-bottom: -4px;
}

.container-24 {
    margin-left: 200px;
    margin-top: -70px;
}

.container-25 {
    margin-left: -10px;
    margin-top: -4px;
}

.cont-2 {
    width: 258px;
    height: 108px;
    margin-left: 197px;
}

.cont-3 {
    width: 258px;
    height: 108px;
    margin-left: 11px;
}

.cont-4 {
    width: 258px;
    height: 54px;
    margin-left: 37px;
}

.svg-5 {
    margin-top: -161px;
    margin-left: 30px;
}

.svg-4 {
    margin-top: -80px;
}

.cont-8 {
    width: 70%;
    height: 284px;
    margin-left: 15%;
    margin-top: 47px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: linear-gradient(93deg, rgba(0, 0, 0, 0.70) 0.26%, rgba(62, 71, 79, 0.68) 99.77%);
}

.cont-7 {
    background-image: url(../images/contact-us-bg.jpg);
    width: 100%;
    height: 383px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: 345px;
}

.btn7 {
    display: flex;
    width: 209px;
    height: 53px;
    margin-top: 52px;
    margin-left: 40%;
    padding: 17px 8px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #FFF;
  }

footer {
    width: 100%;
    height: 449px;
    flex-shrink: 0;
    background-color: #2f333c;
    position: absolute;
  }

   .medialogo {
    margin-left: 47%;
    margin-right: 25%;
   }